{% extends 'base.html' %}

{% block content %}
<body>
	{% if warning is defined %}
		<div class="alert alert-warning" role="alert">
			{{ warning }}
		</div>
	{% endif %}

	{% if classification is defined %}
		{% if classification == "Legitimate" %}
			<div class="alert alert-success" role="alert">
				{{ address }} seems to be a {{ classification }} address.
			</div>
		{% else %}
			<div class="alert alert-danger" role="alert">
				{{ address }} seems to be an {{ classification }} address.
			</div>
		{% endif %}
	{% endif %}
	<!-- <form name="transcationInput" method="post" action="javascript:validateForm()"> -->
	<form name="transcationInput" method="post" action="{{ url_for('get_features') }}">
		<div class="mb-3">
			<label for="address" class="form-label">Ethereum Address to be classified</label>
			<input type="text" name="address" class="form-control" id="addressInput" aria-describedby="addressHelp">
			<div id="addressHelp" class="form-text">Make sure Ethereum Address is a properly formatted hexadecimal value</div>
		</div>
		<div class="mb-3">
			<label for="gas" class="form-label">Gas to fuel transaction</label>
			<input type="text" name="gas" class="form-control" id="gasInput" aria-describedby="gasHelp">
			<div id="gasHelp" class="form-text">Gas quantity</div>
		</div>
		<div class="mb-3">
			<label for="gasPrice" class="form-label">Gas price</label>
			<input type="text" name="gasPrice" class="form-control" id="gasPriceInput" aria-describedby="gasPriceHelp">
			<div id="gasPriceHelp" class="form-text">Gas price as gWei value</div>
		<div class="mb-3">
			<label for="account" class="form-label">Ethereum Testnet Address to pull funds from</label>
			<input type="text" name="account" class="form-control" id="accountInput" aria-describedby="accountHelp">
			<div id="accountHelp" class="form-text">Make sure Ethereum Address is a properly formatted hexadecimal value</div>
		</div>
		<div class="mb-3">
			<label for="pk" class="form-label">Ethereum Testnet Address private key</label>
			<input type="password" name="pk" class="form-control" id="pkInput" aria-describedby="pkHelp">
			<div id="pkHelp" class="form-text">Make sure private key is typed correctly</div>
		</div>
		<button type="submit" class="btn btn-primary">Classify</button>
	</form>
</body>
{% endblock %}